<div class="comment">
  <div class="comment-meta">
    {% module CommentDeleteButton(comment) %}
    <span class="author">{{ comment.author.username }} </span>
      on
    <span class="date">{{ comment.published.timestamp() }}</span>
  </div>
  <div class="body">{{ comment.message }}</div>
</div>
