{% if render %}
<form id="delete-comment" method="post" action="/comment/delete">
  <input type="hidden" name="id" value="{{ comment.entry.id }}"/>
  <input type="hidden" name="cid" value="{{ comment.id }}"/>
  {% module xsrf_form_html() %}
  <input class="delete-button" type="submit" value="×" title="Delete Post" alt="Delete Post"/>
</form>
{% end %}