<div id="header">
  <div style="float:right; padding:5px 0px;">
    {% if author %}
      {% module DropdownMenu(author) %}
    {% else %}
      <span style="padding-right: 5px">
        <a href="/auth/login">{{ _("Sign in") }}</a> {{ _("to compose/edit") }}
      </span>
    {% end %}
  </div>
  <h1>
    <a href="/">{{ escape(handler.settings["blog_title"]) }}</a>
  </h1>
</div>