<div class="dropdown">
  <a class="dropbtn">{{ author.username }}</a>
  <div class="dropdown-content">
    <!-- <a href="/messages">{{ _("Messages") }}</a> -->
    <a href="/compose">{{ _("New post") }}</a>
    <a href="/auth/logout">{{ _("Sign out") }}</a>
  </div>
</div>