<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("blog.css") }}" type="text/css"/>
<!--
     <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}">
-->
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      {% module Header(current_user) %}
      <div id="content">{% block body %}{% end %}</div>
    </div>
    <div id="bottom">{% block bottom %}{% end %}</div>
  </body>
</html>
