{% extends "base.html" %}

{% block body %}
  {% module Entry(entry) %}

  <p><strong>
  {% if entry.comments %}
    Comments:
  {% else %}
    No comments.
  {% end %}
  </strong></p>

  {% for com in entry.comments %}
    {% module Comment(com) %}
  {% end %}

  {% if current_user %}
    <form action="/comment/create" method="post" class="compose">
      <div style="margin-bottom:5px">
        <textarea name="message" rows="5" cols="20" class="message" required="true"></textarea>
      </div>
        <input type="hidden" name="id" value="{{ entry.id }}"/>
      {% module xsrf_form_html() %}
      <input type="submit" value="{{ _("Leave a comment") }}" class="submit"/>
    </form>
  {% end %}
{% end %}
