{% extends "base.html" %}

{% block body %}
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
{% end %}
{% if status %}
<span style="color:blue;"> {{ status }}</span>
{% end %}

Messages sent: {{ sent.count() }}<br/>
{% if sent.count() > 0 %}
  {% for s in sent %}
    {{ s }}<br/>
  {% end %}
{% end %}
Messages received: {{ received.count() }}<br/>
{% if received.count() > 0 %}
  {% for r in received %}
    {{ r }}<br/>
  {% end %}
{% end %}

<form action="/messages" method="post" class="compose">
  <div>
    <textarea name="text" rows="10" cols="40" class="message" required="true"></textarea>
  </div>
  <input type="text" name="to_user" required="true"/>
  {% module xsrf_form_html() %}
  <input type="submit" value="{{ _("Send Message") }}" class="submit"/>
</form>

{% end %}
